html
	head
		title Nodo :: Home Page
		link(rel='stylesheet', type='text/css', href='semantic-ui/dist/semantic.min.css')
		
		// CDN
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js', crossorigin='anonymous')
		script(src='https://unpkg.com/vue')
		
		// Local
		script(src='semantic-ui/dist/semantic.min.js')
		
	body
		div(id='app')
			div(class='ui inverted vertical masthead center aligned segment')
				div(class='ui container')
					div(class='ui large secondary inverted pointing menu')
						a(class='item active') Menu 1
						a(class='item') Menu 2
						a(class='item') Menu 3
				div(class='ui text container')
					button(class='ui blue button' v-on:click='load') Load Data
					button(class='ui blue button' v-on:click='unload') Unload Data
					div(class='ui page grid')
						ul(id='example-1')
							li(v-for='user in users') {{ user.username }}

				div(class='ui page grid')
					div(class='ui four column doubling stackable grid container')
						div(class='column')
							p Test 1
							p Test 2
							p Test 3
			div(class='ui container')
				p Test boroda

		// App
		script(src='js/uiapp.min.js')