div(id='admin_menu', class='ui vertical fluid tabular menu')
	a(class='item' v-bind:class='{ active: activeItem==0 }' v-link='{ path: \'/admin\' }') Menu 1
	a(class='item' v-bind:class='{ active: activeItem==1 }' v-link='{ path: \'/admin/users\' }') Menu 2
	a(class='item' v-bind:class='{ active: activeItem==2 }' v-link='{ path: \'/admin/posts\' }') Menu 3