head
	title #{title}
	link(rel='stylesheet', type='text/css', href='semantic/semantic.min.css')
	
	// CDN
	script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js', crossorigin='anonymous')
	script(src='https://unpkg.com/vue')
	
	// Local
	script(src='semantic/semantic.min.js')