doctype html
html
	include ./head
	body
		div(id='app' class='ui padded grid')
			div(class="four wide column")
				div(class='ui vertical fluid tabular menu')
					router-link(class='item' active-class='active' exact='false' to='/') Menu 1
					router-link(class='item' active-class='active' exact='false' to='/users') Menu 2
					router-link(class='item' active-class='active' exact='false' to='/posts') Menu 3
					
			div(class="twelve wide stretched column")
				router-view(class='ui segment')

				// div(class='ui segment')
					button(class='ui blue button' v-on:click='load') Load Data
					button(class='ui blue button' v-on:click='unload') Unload Data
					div(class='ui segment')
						ul(id='example-1')
							li(v-for='user in users') {{ user.username }}

				div(class='ui segment')
					p Test 1
					p Test 2
		

		// App
		script(src='js/app.min.js')